<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/img/faviconLogo/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Montserrat:wght@100;500;600&display=swap" rel="stylesheet">

    <title>Proyecto</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <header class="navBack">
        <nav>
            <ul class="menu">
                <div id="top"> 
                    <li><a href="../index.html"></a><div id="top">
                    <img class="logo" src="../assets/img/logoround.png" alt="logo proyecto adoptar">
                    </li>
                </div>
        
                    <li class="item"><a href="../index.html">INICIO</a></li>
                    <li class="item"><a href=#>SERVICIOS</a>
                        <ul class="submenu">
                            <li class="sub_i"><a href="../view/Adopciones.html">Red de Adopciones</a></li>
                            <li class="sub_i"><a href="../view/Sitters.html">Sitters</a></li>         
                        </ul>
                    </li>
                    <li class="item"><a href=#>COLABORÁ</a>
                        <ul class="submenu">
                            <li class="sub_i"><a href="../view/Adopciones.html">Donaciones</a></li>
                            <li class="sub_i"><a href="../view/Voluntariado.html">Voluntariado</a></li>         
                        </ul>
                    </li>
                    <li class="item"><a href="../view/Nosotros.html">NOSOTROS</a></li>
                    <li class="item"><a href="../view/Contacto.html">CONTACTO</a></li>
                    <li class="item"><a href="../view/Registrate.html">REGISTRATE</a></li> 
            </ul>
        </nav>
    </header>

<main>
    <section class="title register">
        <div><h1>ENCONTRÁ CATSITTERS Y DOGSITTER</h1></div>
        <div><h2>Encontrá a la persona indicada que pueda cuidar a tu mascota durante tu ausencia.</h2></div>
    </section>
    <br>
    <section>
        <form action="" class="formSitters">
            <div>
                <label for="email">E-mail:</label>
                <input type="text" name="email" placeholder="example@gmail.com">
            </div>
            <div>
                <label for="pass">Contraseña:</label>
                <input type="text" name="pass">
            </div>
            <div>          
                <input class="b" type="submit" value="Ingresar">
                <input class="b" type="button" value="Registrar">
            </div>
        </form>
    </section>
</main>
</body>


<footer>
    <ul>
        <div class="footElement">
            <li class="footElement"><a class="footElement"href="#top">Ir al Inicio</a></li>
        </div class="footElement">
        <div class="footElement"> 
            <p class="footElement">© 2022 Proyecto Adoptar, todos los derechos registrados.</p>
        </div>
      
    </div>
    </ul>
</footer>



